@page "/expediente"
@using FrontEnd.Data
@using System.ComponentModel.DataAnnotations
@code {
    //private Aspirante aspirante = new Aspirante();
    private Aspirante aspirante = new Aspirante { FechaNacimiento = DateTime.Now };
    private void HandleSubmit()
    {
        Mensaje = $"Gracias {aspirante.Nombre} por formar parte de UMI/Universidad Coppel, Bienvenido a la carrera {aspirante.Carrera}.";
        MostrarDatos = true;
    }

    public string Mensaje { get; set; }
    public bool MostrarDatos { get; set; }

    public class Aspirante
    {
        [Required]
        public string Nombre { get; set; }

        [Required]
        public int Edad { get; set; }

        [Required]
        public DateTime FechaNacimiento { get; set; }

        [Required]
        public string Carrera { get; set; }
        [Required]
        public string Estado { get; set; }

        public string? Genero { get; set; }
    }

}


<PageTitle>Weather forecast</PageTitle>

<h1>Expediente</h1>

<EditForm Model="aspirante" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <InputText id="nombre" class="form-control" @bind-Value="aspirante.Nombre" />
    </div>
    <div class="form-group">
        <label for="edad">Edad:</label>
        <InputNumber id="edad" class="form-control" @bind-Value="aspirante.Edad" />
    </div>
    <div class="form-group">
        <label for="fechaNacimiento">Fecha de Nacimiento:</label>
        <InputDate id="fechaNacimiento" class="form-control" @bind-Value="aspirante.FechaNacimiento" />
    </div>
    <div class="form-group">
        <label for="carrera">Carrera a la que deseas ingresar:</label>
<InputSelect id="carrera" class="form-control" @bind-Value="aspirante.Carrera">
    <option value="">Selecciona una opción</option>
    <option value="Ingeniería">Ingeniería</option>
    <option value="Licenciatura">Licenciatura</option>
</InputSelect>    
</div>
   <div class="form-group">
        <label for="estado">Estado:</label>
        <InputSelect id="estado" class="form-control" @bind-Value="aspirante.Estado">
            <option value="">Selecciona un estado</option>
            @foreach (var state in new string[] { "Aguascalientes", "Baja California", "Baja California Sur", "Campeche", "Chiapas", "Chihuahua", "Coahuila", "Colima", "Durango", "Guanajuato", "Guerrero", "Hidalgo", "Jalisco", "México", "Michoacán", "Morelos", "Nayarit", "Nuevo León", "Oaxaca", "Puebla", "Querétaro", "Quintana Roo", "San Luis Potosí", "Sinaloa", "Sonora", "Tabasco", "Tamaulipas", "Tlaxcala", "Veracruz", "Yucatán", "Zacatecas" })
            {
                <option value="@state">@state</option>
            }
        </InputSelect>
    </div>
<div class="form-group">
    <label>Género:</label>
    <InputRadioGroup @bind-Value="aspirante.Genero">
        <InputRadio id="masculino" TValue="string" value="Masculino" /> Masculino
        <InputRadio id="femenino" TValue="string" value="Femenino" /> Femenino
    </InputRadioGroup>
</div>
<button type="submit" class="btn btn-primary" style="margin-top: 20px; margin-bottom: 20px;">Guardar</button>

</EditForm>

@if (!string.IsNullOrEmpty(Mensaje))
{
    <p>@Mensaje</p>
}

@if (MostrarDatos)
{
    <p>Nombre: @aspirante.Nombre</p>
    <p>Edad: @aspirante.Edad</p>
    <p>Fecha de Nacimiento: @aspirante.FechaNacimiento.ToShortDateString()</p>
    <p>Carrera: @aspirante.Carrera</p>
}
